CONFIG_USB_CONFIGFS_RNDIS=y
CONFIG_DEVTMPFS=y
CONFIG_FHANDLE=y
CONFIG_SYSVIPC=y
CONFIG_IPC_NS=y
CONFIG_NET_NS=y
CONFIG_PID_NS=y
CONFIG_USER_NS=y
CONFIG_UTS_NS=y
CONFIG_VT=y
CONFIG_CGROUP_SCHED=y
CONFIG_CGROUPS=y
CONFIG_DEFAULT_SECURITY="apparmor"
CONFIG_SECURITY_SELINUX=n
CONFIG_DEFAULT_SECURITY_SMACK=n
CONFIG_DEFAULT_SECURITY_DAC=n
CONFIG_DEFAULT_SECURITY_APPARMOR=y
CONFIG_CGROUPS_PIDS=y
CONFIG_CGROUPS_RDMA=y
CONFIG_CGROUPS_DEVICE=y
CONFIG_CGROUPS_PERF=y
CONFIG_NET_CLS_CGROUP=y
CONFIG_NETFILTER_XT_MATCH_CGROUP=y
CONFIG_BLK_CGROUP_IOLATENCY=y
